html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  --font-big: 2rem;
  --font-medium: 1.8rem;
  --font-small: 1.6rem;
  --font-toSmall: 1.3rem;
  --jet-black: rgb(41, 43, 45);
  --teal: rgb(46, 118, 94);
  --crimson: rgb(220, 20, 60);
  --padding: 1rem;
  --margin: 1rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
  color: white;
}

main {
  max-width: 420px;
  margin: 2rem auto; /* to center container. */
  border-radius: 0.5rem;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 2rem var(--padding);
}

h1 {
  font-family: var(--font);
  font-size: var(--font-big);
  font-weight: 400;
  color: var(--jet-black);
  padding: 0 var(--padding);
}

h2 {
  padding: var(--padding);
  font-family: var(--font);
  font-size: var(--font-medium);
  font-weight: 400;
}

h3 {
  font-family: var(--font);
  font-size: var(--font-small);
  font-weight: 600;
  padding: 0 var(--padding);
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > input {
  font-family: var(--font);
  font-size: var(--font-small);
  border-style: none;
  border: 1px solid var(--teal);
  padding: var(--padding);
  margin: var(--margin);
}

form > div > input:focus {
  outline: none;
  border: 3px solid var(--teal);
}

form label {
  font-family: var(--font);
  font-size: var(--font-small);
  padding: 0 var(--padding);
}

.warning_msg {
  font-family: var(--font);
  font-size: var(--font-toSmall);
  font-weight: 600;
  color: var(--crimson);
  padding: 0 var(--padding);
}

.save_input {
  border-style: none;
  background-color: var(--teal);
  color: #ffffff;
}

hr {
  border: none;
  border-top: 1px solid var(--teal);
  opacity: 0.4;
  margin: var(--margin);
}

.summery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font);
  font-size: var(--font-small);
  padding: var(--padding);
}

.history_heading_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear_all_btn {
  background-color: unset;
  margin: 0 var(--margin);
  border-style: none;
}

.clear_all_btn > img {
  max-height: 2.4rem;
}

ul {
  padding: var(--padding);
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
  font-size: var(--font-small);
  border-bottom: 1px solid rgba(46, 118, 94, 0.4);
  padding: 0.3rem 0;
}

.remove_btn {
  max-width: 2.4rem;
  background-color: #ffffff;
  border-style: none;
}

@media (max-width: 460px) {
  main {
    box-shadow: none;
    padding-top: 0;
  }
}
